# ***Theory Questions***

1. What are data structures, and why are they important ?

    - A data structure is a way of organizing, storing, and managing data so it can be used efficiently.
    - Data Structure is important because:
    
      i. Efficiency
        - Choosing the right data structure can drastically improve speed and memory usage.  

      ii. Scalability
        - The right structure can handle growing amounts of data without breaking or slowing too much.

      iii. Better Problem-Solving
        - Many algorithms rely on specific data structures

      iv. Maintainability
        - Organized data is easier to update, debug, and extend.

---
2. Explain the difference between mutable and immutable data types with examples

    i. Mutable Data Types:
      
      - You can change their contents without changing their identity.
      - Example:

      my_list = [1, 2, 3]

      print(id(my_list))   # Memory address before change

      my_list.append(4)    # Modify the list

      print(my_list)       # [1, 2, 3, 4]

      print(id(my_list))   # Same memory address → still the same object

  ii. Immutable Data Types:

      - Once created, their contents cannot be changed. Any "change" creates a new object in memory.
      - Example:

      my_string = "Hello"
      
      print(id(my_string))   # Memory address before change
      
      my_string += " World"  # This creates a *new* string object
      
      print(my_string)       # "Hello World"
      
      print(id(my_string))   # Different memory address → new object

---
3. What are the main differences between lists and tuples in Python ?

    i. List
    - You can add, remove, or modify elements after creation.
    - Uses square brackets []
    - Use when you need a collection that might change.
    - Lists have more methods like .append(), .extend(), .remove(), .sort().

  ii. Tuples
    - Once created, elements cannot be changed.
    - Uses parentheses ()
    - Use when the data should remain constant
    - Tuples have only a few (count(), index()).

---
4. Describe how dictionaries store data ?

    - In Python, dictionaries store data as key-value pairs using a hash table for fast lookups. Each key is immutable and is passed through a hash function to produce a hash value, which determines its slot in an internal array.
    - The value is stored alongside the key and its hash. If two keys hash to the same slot (collision), Python uses open addressing to find another available slot.
    - This design allows dictionary operations like insertions and lookups to work in O(1) time on average, though it uses extra memory to keep performance high.

---
5. Why might you use a set instead of a list in Python ?

    - You might use a set instead of a list in Python when you need to store unique elements and perform fast membership checks.
    - A set automatically removes duplicates, while a list can hold repeated values.
    - Sets use a hash table internally, so checking if an item exists is O(1) on average, compared to O(n) for a list.
    - Sets provide efficient mathematical operations like union (|), intersection (&), and difference (-), which are slower to implement with lists.

---
6. What is a string in Python, and how is it different from a list ?

    - In Python, a string is an immutable sequence of characters used to store text, while a list is a mutable sequence that can store elements of any data type.
    - Strings cannot be changed after creation (immutable), but lists can be modified (mutable).
    - A string only contains characters, whereas a list can contain mixed data types
    - Strings use quotes ("Hello" or 'Heylo'), lists use square brackets ([1, "Hii", 3.5]).

---
7. How do tuples ensure data integrity in Python ?

    - Tuples ensure data integrity in Python because they are immutable, meaning their contents cannot be changed after creation.
    - Once you define a tuple, you cannot add, remove, or modify its elements any "change" would require creating an entirely new tuple.
---
8. What is a hash table, and how does it relate to dictionaries in Python ?

    - A hash table is a data structure that stores data in key-value pairs and uses a hash function to quickly map each key to a position (slot) in memory.
    - In Python, dictionaries are implemented using hash tables. When you store a key-value pair in a dictionary:
      
      - Python hashes the key (using the built-in hash() function) to get an integer.
      - That integer is mapped to a slot in the dictionary is internal array.
      - The value is stored in that slot alongside the key and its hash.
      - If another key is hash points to the same slot (collision), Python uses open addressing to find the next available slot.

---
9.  Can lists contain different data types in Python ?

    - Yes, in Python, lists can contain elements of different data types in the same list.
    - This is possible because Python lists store references to objects, not the raw data itself, so each element can point to a value of any type.

---
10. Explain why strings are immutable in Python ?

    - Strings are immutable in Python because once a string object is created, its contents cannot be changed.
    - Since strings are widely used, Python can reuse the same string object in memory for identical values, saving memory.
    -  Immutable strings can safely be used as keys in dictionaries and elements in sets, because their hash value will never change.
    - In multi-threaded programs, immutable objects are safe to share without worrying about unexpected modifications.
    - Since strings never change, code is easier to reason about and debug.

---
11. What advantages do dictionaries offer over lists for certain tasks ?

    - Dictionaries in Python store data as key-value pairs using a hash table, allowing much faster lookups (O(1) average time) than lists, which require searching through elements.
    - They use descriptive keys instead of numeric indexes, making data easier to read and manage, and are ideal for unordered, mapped data like names and phone numbers.
    - Dictionaries also allow easy addition, updating, and removal of entries without shifting other elements, offering more flexibility than lists for many tasks.
---
12.  Describe a scenario where using a tuple would be preferable over a list ?

    - A tuple is preferable over a list when you need to store fixed, unchangeable data that must remain constant throughout the program.
    - For example, if you are storing the latitude and longitude of a location:

      coordinates = (40.7128, -74.0060)  # New York City
    - Since these values should not be altered accidentally, a tuple ensures data integrity through immutability.
    - This makes tuples ideal for constant configurations, database record fields, days of the week, or any dataset where modification is not intended.
---
13.  How do sets handle duplicate values in Python ?

    - In Python, sets automatically remove duplicate values because they are designed to store only unique elements.
    - When you create a set, Python uses a hash table internally. Each new element is hash value is checked before adding it, if an element with the same hash already exists, the duplicate is ignored.

---
14.  How does the “in” keyword work differently for lists and dictionaries ?

    - In Python, the in keyword behaves differently for lists and dictionaries because of how each stores and searches data.
    - For lists,  "in" checks if a value exists by scanning through elements one by one
    - For dictionaries, "in" checks if a key exists, not a value, by looking it up in the hash table.

---
15.  Can you modify the elements of a tuple? Explain why or why not ?

    - No, you cannot modify the elements of a tuple in Python because tuples are immutable.

    - Once a tuple is created, its contents are fixed, and any attempt to change, add, or remove elements will raise a TypeError. This immutability ensures data integrity, makes tuples safe for use as dictionary keys or set elements, and allows Python to optimize memory usage.

---
16. What is a nested dictionary, and give an example of its use case ?

    - A nested dictionary is a dictionary where one or more values are themselves dictionaries. It allows you to store structured, hierarchical data in a compact way.
    - Example:

      students = {"Alice": {"age": 20, "grade": "A"}, "Bob": {"age": 22, "grade": "B"},}

      print(students["Alice"]["grade"])

---
17.  Describe the time complexity of accessing elements in a dictionary ?

    - Accessing elements in a dictionary is O(1) on average because dictionaries use a hash table.
    - Python hashes the key, finds the corresponding slot in memory, and retrieves the value directly without scanning through all items.
    - In the worst case (many hash collisions), access can degrade to O(n), but this is rare.

---
18. In what situations are lists preferred over dictionaries ?

    - Lists are better when:

      - Order matters (lists preserve insertion order and allow indexing by position).

      - You have sequential data where elements are accessed by position rather than by a unique key.

      - The dataset is small, making dictionary overhead unnecessary.

      - You need to store duplicate values, which dictionaries can’t do for keys.

---
19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

    - Before Python 3.7, dictionaries did not preserve insertion order, the key order in iteration was unpredictable because elements were placed based on their hash values.
    - From Python 3.7 onward, dictionaries do preserve insertion order, but they are still logically unordered, meaning order should not be relied upon for correctness in algorithms unless explicitly needed.
    - This means data retrieval is by key, not by position — you can't do dict[0] to get the “first” item like in a list.

---
20.  Explain the difference between a list and a dictionary in terms of data retrieval ?

    - List

       Retrieval is by index position (list[2] gets the third element), which takes O(1) time but only works if you know the position.

    - Dictionary

       Retrieval is by key (dict["name"] gets the value for "name"), which takes O(1) time on average and is more descriptive but requires knowing the exact key.
---
---

# ***Practical Questions***

1.  Write a code to create a string with your name and print it.

In [2]:
name = "Durvesh Mhatre"
print(name)

Durvesh Mhatre

2. Write a code to find the length of the string "Hello World".

In [3]:
heylotxt = "Hello World"
print(len(heylotxt))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
word = "Python Programming"
print(word[:3])

Pyt

 4. Write a code to convert the string "hello" to uppercase.

In [5]:
word = "hello"
print(word.upper())

HELLO

 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

 6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
numbers_list = [1, 2, 3, 4, 5]
print(numbers_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [9]:
num_list = [1, 2, 3, 4]
num_list.append(10)
print(numbers_list)

[1, 2, 3, 4, 5]

 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [11]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
data = [10, 20, 30, 40, 50]
data.reverse()
print(data)

[50, 40, 30, 20, 10]

 11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [13]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [14]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[2])

blue

 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
nums = (10, 20, 5, 15)
print(min(nums))

5

 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [24]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [25]:
num_set = {1, 2, 3, 4, 5}
num_set.clear()
print(num_set)

set()

 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [26]:
set_nums = {1, 2, 3, 4}
set_nums.remove(4)
print(set_nums)

{1, 2, 3}

 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [27]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [28]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.intersection({2, 3, 4}))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [29]:
person = {"name": "Alice", "age": 30, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [30]:
person2 = {'name': 'John', 'age': 25}
person2["country"] = "USA"
print(person2)

{'name': 'John', 'age': 25, 'country': 'USA'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [31]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [32]:
person2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person2["age"]
print(person2)

{'name': 'Bob', 'city': 'New York'}

 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [33]:
person3 = {'name': 'Alice', 'city': 'Paris'}
print("city" in person3)

True

 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [34]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 10, 'b': 20}

 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [108]:
import random

# Create a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
numbers.sort()

# Print the result
print(numbers)

[4, 41, 54, 84, 99]

28. Write a code to create a list with strings and print the element at the third index.

In [109]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

 29. Write a code to combine two dictionaries into one and print the result.

In [113]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1,**dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

 30. Write a code to convert a list of strings into a set.

In [115]:
string_list = ["apple", "banana", "cherry"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'cherry'}